{% extends "index" %}

{% block content %}

    {# Project Images #}
    {% include "components/slider" with {
        images: entry.images.all()
    } %}

    <section id="about" class="project-overview">
        <div class="main">
            <h1 class="project-title">
                {{ entry.title|replace(ALT_FONT_REGEX, ALT_FONT_REPLACE)|raw  }}
            </h1>
            <p>
                {{ entry.projectDescription|replace(ALT_FONT_REGEX, ALT_FONT_REPLACE)|raw  }}
            </p>
        </div>

        {% set tags = entry.projectTags.all() %}

        {% for tag in tags %}
            <div class="spacer-1rem"></div>
        {% endfor %}
        <div class="spacer-1rem"></div>

        {% if tags %}
        <div class="tags-container">
            <div class="tags general-content">
                {% for tag in tags %}
                <div class="tag-row">
                    <div class="tag-title">
                        {{ tag.tag|replace(ALT_FONT_REGEX, ALT_FONT_REPLACE)|raw }}
                    </div>
                    <div class="tag-content">
                        {{ tag.tagDescription|replace(ALT_FONT_REGEX, ALT_FONT_REPLACE)|raw }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </section>

{% endblock %}
