@font-face {
    font-family: "Ang-Regular";
    src:  url('../fonts/ang-webfont.woff') format('woff');
}

@font-face {
    font-family: "MinionPro-Regular";
    src:  url('../fonts/MinionPro-Regular.woff') format('woff');
}

/* hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heebo/v19/NGSpv5_NC0k9P_v6ZUCbLRAHxK1E1yysd0mg7UiCXB5WkK8.woff) format('woff');
  unicode-range: U+30-39;

}
/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heebo/v19/NGSpv5_NC0k9P_v6ZUCbLRAHxK1E1yysdUmg7UiCXB5W.woff) format('woff');
  unicode-range: U+30-39;
}
/*
@font-face {
    font-family: "MinionPro-Regular";
      src:  url('../fonts/MinionPro-Regular.woff') format('woff');
      unicode-range: U+30-39;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    font-size: 1.2rem;
    font-family: "Heebo", "Ang-Regular", Arial, sans-serif;
    font-weight: Regular;
    letter-spacing: 0.05rem;
    /* background: red; */
    color: black;
}

#site-container {
    padding: 0 2rem 2rem;
}

.numbers, .alt-font {
    font-family: 'Heebo', sans-serif;
}

/* --------- NAVBAR --------- */
.nav {
    position: fixed;
    /* background: grey; */
    width: 100%;
    top: 1rem;
    left: 0;
    z-index: 100;
}

.navbar {
    width: 96%;
    /* background: yellow; */
    overflow: auto;
    margin: 0 auto;
}

.navbar a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.05rem;
}

.navbar a:hover {
    color: #DEFF79;
    text-decoration: underline;
}

.item1,
.item2,
.item3 {
    float: left;
    width: 33.3%;
    text-align: center;
}

.item1 {
    text-align: left;
}

.item3 {
    text-align: right;
}

.index-subnav-toggle {
    cursor: pointer;
}

/* --------- CAROUSEL ---------*/
.carousel > li,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel {
    /* background: pink; */
    width: 100%;
    height: 85vh;
    position: relative;
    margin-top: 1rem;
}

.gallery {
    max-width: 1399.98px;
    margin: 0 auto;
}

.slide-absolute {
    height: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide-absolute[data-active] {
    opacity: 1;
    z-index: 1;
}

.slide-absolute > img {
    display: block;
    height: 100%;
    width: 100%;
    /* height: 90%; */
}

.slide:not(.slide-absolute) {
    height: 100%;
    /* position: absolute; */
    /* inset: 0;
    opacity: 0; */
}

.slide:not(.slide-absolute)[data-active] {
    /* opacity: 1;
    z-index: 1; */
}

.slide:not(.slide-absolute) > img {
    display: block;
    max-width: 100%;
    max-height: 90%;
    width: auto;
    height: auto;
    /* height: 90%; */
}

.caption {
    margin: auto;
    max-width: 70rem;
    margin: 1rem auto 0;
    text-align: center;
}

.caption a {
    text-decoration: none;
    color: black;
    z-index: 400;
    /* background: yellow; */
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    translateY(-50%);
    color: rgba(222,255,121, 0.9);
    cursor: pointer;
}

.carousel-button:hover,
.carousel-button:focus {
    color: #DEFF79;
}

/* .carousel-button:focus {
    outline: 1px solid red;
} */

.carousel-button.left {
    left: 1vw;
}

.carousel-button.right {
    right: 1vw;
}

.caption {
    position: relative;
}

/*--------- INDEX ---------*/
.index {
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.nav-opened {
    display: block;
}

.projects {
    padding-top: 1.5rem;
    width: 95%;
    max-height: 28rem;
    background-color: rgba(222,255,121, 0.9);
    display: flex;
    flex-direction: column;
    margin: 4rem auto 0;
    overflow-y: scroll;

    --mask:
  linear-gradient(#000 0 0) center/calc(100% - 1.4rem) 100% no-repeat,
  conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) right/0.7rem 1.40rem repeat-y,
  conic-gradient(from 45deg at left,#0000,#000 1deg 89deg,#0000 90deg) left/0.7rem 1.40rem repeat-y;
-webkit-mask: var(--mask);
        mask: var(--mask);
}

.project {
    /* background: grey; */
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 3vw 0 2vw;
}

.project-items {
    /* background-color: pink; */
    margin-bottom: 2.5rem;
    display: flex;
    width: 100%;
    text-align: center;
    z-index: 4;
}

.project-items:hover, .project-items:active {
    background-color: white;
}

.year {
    width: 10%;
    /* background: yellow; */
}

.title {
    width : 90%;
    /* background: green; */
}

.letters {
    margin: 0.2rem 2rem 0 0;
    text-align: right;
}

.index-year {
    margin: 0.2rem 0 0 2rem;
    text-align: left;
}

.projects a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.05rem;
}

/* --------- ABOUT --------- */
/* .resume {
    margin: 5rem 0 0 2rem;
} */

.about {
    margin: 15rem 3rem 5rem;
}

.main {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    margin-left: 5rem;
}

.about p {
    letter-spacing: 0.05rem;
}

.main p {
    margin-bottom: 1.5rem;
    /* TODO: MAYBE REMOVE */
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}

.main a,
.main a:hover, .main a:visited {
    color: black;
}

.exhibitions p {
    font-size: 1rem;
}

/* --------- PROJECT PAGE --------- */

.main {
    padding-top: 10vh;
    padding-bottom: 5rem;
    max-width: 991.98px;
    margin: 0 auto;
}

.tags-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    font-size: 1rem;
    background-color: #fff;
    padding: 0.3rem 0;
}

.tags {
    /* padding-left: 6vw; */
}

.general-content {
    max-width: 991.98px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    letter-spacing: 0.05rem;
}

.tag-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tag-title {
    width: 13%;
    margin-right: 1rem;
    flex-shrink: 0;
}

.tag-content {
    flex-grow: 1;
}

/* .ta

.tags1 {
    width: 13%;
}

.tags2 {
    width: 77%;
} */

.tags p,
.caption p {
    font-size: 1rem;
    letter-spacing: 0.05rem;
}

/* --------- PROJECT IMAGE ZOOM --------- */

.lens {
    width: 12rem;
    height: 8rem;
    border: 1px solid #DEFF79;
    border-radius: 50%;
    position: absolute;
    display: none;
}

.slide[data-active] .lens {
    display: block;
}

/* --------- MASHUP PAGE --------- */

.lb-caption {
    font-family: 'Heebo', sans-serif;
}

.spacer-64 {
    height: 64px;
}

.spacer-128 {
    height: 128px;
}

.spacer-1rem {
    height: 1rem;
}

.spacer-2rem {
    height: 2rem;
}

.project-title {
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

/* Zoom */
/* img {
    display: block;
    margin: 20px auto;

    border: 1px solid rgba(255,255,255,0.2);
    -webkit-transition: -webkit-filter 300ms;
} */

.magnifying-glass {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12rem;
    height: 8rem;
    border: 1px solid #DEFF79;
    position: absolute;
    margin: -4rem 0 0 -6rem;
    background-repeat: no-repeat;
    /* box-shadow: 0 0 0 2px rgba(255,0,0,0.5), */
        /* 5px 5px 10px 5px rgba(0,0,0,0.2); */
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(0);
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    pointer-events: none;
}

.zoomable.active .magnifying-glass {
    opacity: 1;
    -webkit-transform: scale(1);
}

/* .swiper-container {
    width: calc(100% + 4rem);
    margin-left: -2rem;
} */

.swiper-slide-image {
    margin: 20px auto;
}

.lightboxOverlay {
    opacity: 0.9 !important;
    background-color: white !important;
}


/* --------- MASU --------- */

/* .masu-container {
    max-width: 1200px;
    margin: 0 auto;
} */

.masu-items-wrapper {
    margin: 0 auto;
    width: 100%;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.masu-item {
    max-height: 100%;
    max-width: 40rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: white;
    margin: 3px;
    position: relative;

}

/* .masu-overlay {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 0;
    left: 0;
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;
    opacity: 1;
} */
.masu-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    --mask:
      linear-gradient(#000 0 0) center/calc(100% - 30px) calc(100% - 30px) no-repeat,
      conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) 0 0/30px 15px space no-repeat,
      conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 0 100%/30px 15px space no-repeat,
      conic-gradient(from 45deg at left,#0000,#000 1deg 89deg,#0000 90deg) 0 0/15px 30px no-repeat space,
      conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 100% 0/15px 30px no-repeat space;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.masu-img:hover {
    /* filter: grayscale(1); */
    filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg) saturate(500%);
    opacity: 0.5;

}

.masu-overlay {
  position: absolute;
  top: 0px;
  left: 75px;
  opacity: 0;
  transition: opacity .5s ease-in;
}

.masu-overlay h1,
.masu-overlay p {
  margin: 0;
}

.masu-img:hover + .masu-overlay {
  opacity: 1;
}

.specificLocation {
  margin-left: 100px;
}


/* --------- MEDIA QUERIES --------- */




/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .magnifying-glass {
        display: none;
    }

    #site-container {
        padding: 1rem;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .carousel {
        height: auto;
    }

    .main {
        padding-top: 0;
    }

    .carousel-button {
        display: none;
    }

    .swiper-slide {
        width: 80% !important;
    }

    .slide:not(.slide-absolute) > img {
        max-width: 100%;
        height: 400px !important;
        object-fit: cover;
    }

}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .resume-items-list-item {
        margin-bottom: 0.6rem;
        display: block;
    }

    .swiper-container {
        width: calc(100% + 32px);
        margin-left: -16px;
    }

    #site-container {
        padding: 1rem 16px;
    }

    .navbar {
        font-size: 16px;
    }

    .main p {
        font-size: 1.2rem;
    }
    .tags-container {
        font-size: 0.9rem;
    }

    .slide:not(.slide-absolute) > img {
        max-width: 100%;
        height: 300px !important;
        object-fit: cover;
    }
}

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */
