{% extends "index" %}

{% block content %}


{% set projects = craft.entries.section('projects').limit(3).all() %}

{# Project Images #}
{% include "components/project-slider" with {
    projects: projects
} %}

<!-- ---------------------------- ABOUT ----------------------------- -->

<section  >
  <div id="about" class="main project-overview">

      <p>{{entry.about|replace(ALT_FONT_REGEX, ALT_FONT_REPLACE)|raw }}</p>

      <div class="spacer-1rem"></div>
      <div class="exhibitions general-content">

        {% set resumeItems = entry.resume.all() %}
        {% if resumeItems %}
        <p>
        SELECTED PROJECTS & EXHIBITIONS <br><br>
            {% for item in resumeItems %}
                <span class="numbers">{{ item.year|replace(ALT_FONT_REGEX, ALT_FONT_REPLACE)|raw }}</span> {{ item.projectName|replace(ALT_FONT_REGEX, ALT_FONT_REPLACE)|raw }}<br />
            {% endfor %}
        </p>
        {% endif %}
      </div>
  </div>

</section>

{% endblock %}
