{% extends "index" %}

{% block content %}
        <div class="spacer-2rem">

        </div>
        <div class="masu-container">

            <div class="masu-items-wrapper">
                {% set images = entry.images.all() %}
                {% if images %}
                {% for image in images %}
                <div class="masu-item">
                    <img class="masu-img" src="{{ image.url }}" alt="1">
                    <div class="masu-overlay caption">
                        <p >{{ image.title }}</p>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>
{% endblock %}
